<table>
	<tbody>
		<tr>
			<td style="background: #94d60a; color: white;">Ім'я:</td>
			<td style="color: #7a868c; font-size: 20px; text-align: center; border: 1px solid #94d60a; border-collapse: collapse;"><%=@callorder[:name]%></td>
		</tr>
		<tr>
			<td style="background: #94d60a; color: white;">Контактний телефон:</td>
			<td style="color: #7a868c; font-size: 20px; text-align: center; border: 1px solid #94d60a; border-collapse: collapse;"><%=@callorder[:phone]%></td>
		</tr>
		<tr>
			<td style="background: #94d60a; color: white;">Електронна скринька:</td>
			<td style="color: #7a868c; font-size: 20px; text-align: center; border: 1px solid #94d60a; border-collapse: collapse;"><%=@callorder[:email]%></td>
		</tr>
        <tr>
          <td colspan="2" style="background: #94d60a; color: white; text-align: center;">Зручний час дзвінка:</td>
        </tr>
		<tr>
			<td style="background: #94d60a; color: white;">З:</td>
			<td style="color: #7a868c; font-size: 20px; text-align: center; border: 1px solid #94d60a; border-collapse: collapse;"><%=@callorder[:time_from]%></td>
		</tr>
		<tr>
			<td style="background: #94d60a; color: white;">До:</td>
			<td style="color: #7a868c; font-size: 20px; text-align: center; border: 1px solid #94d60a; border-collapse: collapse;"><%=@callorder[:time_to]%></td>
		</tr>
        <tr>
          <td style="background: #94d60a; color: white;">Текст повідомлення:</td>
          <td style="color: #7a868c; font-size: 20px; text-align: center; border: 1px solid #94d60a; border-collapse: collapse;"><%=@callorder[:message]%></td>
        </tr>
	</tbody>
</table>


