<h1>ЗАМОВЛЕННЯ ДВЕРЕЙ</h1>
<div>
    <div>
        <h2>Дані замовлення:</h2>
        <p><span>Двері  </span>
        <strong><%=@enter_door[:door]%></strong>
        </p>
        <p><span>Колір  </span>
        <strong><%=@enter_door[:color]%></strong>
        </p>
        <p><span>Відкриття дверей  </span>
        <strong><%=@enter_door[:open_door]%></strong>
        </p>
        <span>Кількість одиниць  </span>
        <strong><%=@enter_door[:count]%></strong>
        </p>
        <p><span>Фурнітура  </span>
        <strong><%=@enter_door[:furnitura]%></strong>
        </p>
    </div>
    <div>
      <h2>Контактні дані  </h2>
      <p>
        <span>Ім'я  </span>

      </p>
      <p>
        <span>Телефон  </span>

      </p>
      <p>
        <span>Електронна скринька  </span>

      </p>
      <p>
        <span>Повідомлення  </span>

      </p>
    </div>
    <div>
      <h2>Зручний час дзвінка:</h2>
      <p><span>З  </span>

      </p>
      <p><span>До  </span>

      </p>
    </div>
</div>
